[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "dependencies/wtl-git"]
	path = dependencies/wtl-git
	url = https://git.code.sf.net/p/wtl/git
